/* 
 * CSS file used with home webpage
 * AUTHOR: Matthew Higginbotham
 * DATE:   October 26, 2020
 */
 
/* Importing web fonts */
 
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
 

/* Body Styles 
 * Background file relegated to HTML file so all image links are in one spot */

body {
	font-family: Oxygen, Tahoma, sans-serif;
	font-size: 16px;
	background-color: rgb(220, 220, 200);
	margin: 0;
}


/* Nav Bar Styles */

nav {
	background-color: rgb(40, 40, 40);
	box-shadow: 5px 5px 5px #101010;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 100vw;
}

nav a {
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 40);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: 1s ease;	
}	

nav > a, nav > div > a {
	display: block;
	float: left;

	padding: 1em 0;
	width: 33.33vw;
}

/* Changes appearance of links once hovered over */
nav a:hover{
	background-color: rgb(0, 0, 0);
	text-shadow: 2px 2px 15px rgb(255, 255, 255);
}

/* Equalixes size of dropdown nav bar elements */
.dropdown_container a {
	float: left;
}

/* Hides content until hovered */
.dropdown_contents {
	box-shadow: 5px 5px 5px #101010;
	position: absolute; /* prevents overlapping with nav-bar */
	display: none;
	margin-top: 3em;
	width: 33.33vw;
}

.dropdown_contents a{
	padding: 1em 0;
	width: 100%;
}

/* Actually displays the dropdown */
.dropdown_container:hover .dropdown_contents{
	display: block;
}

/* Adjusts content once a certain width is reached */
@media (max-width: 800px) {
	nav {
		flex-direction: column;
		position: absolute;
		height: 9em;
	}
  
	nav > a {
		padding: 0.9em 100vw;
	}
  
	nav > div > a {
		padding: 0.8em 100vw;
	}
  
  .dropdown_contents a {
	position: static;
	justify-content: center;
	width: 100vw;
  }
  
  .dropdown_container:hover .dropdown_contents{
	display: none;
  }
}


/* Header Styles */

header {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
	padding: 7em 10vw 2em 10vw;
}

#name_banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80vw;
}

#name_banner img {
	float: left;
	max-height: 20em;
	max-width: 20em;
}

#names * {
	margin-left: 4rem;
}

#names h1 {
	font-family: Oswald, Tahoma, sans-serif;
	font-size: 4rem;
}

#names h2 {
	color: #222222;
	font-size: 1.5rem;
}

#about_me {
	background-color: #e6dcff; /* Fallback Color */
	background-color: rgba(230,220,255, 0.6);
	font-weight: bold;
	text-align: center;
	align-items: center;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	box-shadow: 5px 5px 25px #000000;
	border-radius: 20px;
	padding: 0 3em;
	margin: 2em 0;
}

/* Adjusts positioning of elements if window gets too small */
@media (max-width: 800px) {
	header {
		display: flex;
		flex-direction: column;
		padding: 10em 0 2em 0;
	}
	
	#name_banner {
		display: flex;
		flex-direction: column;
	}
	
	#name_banner img {
		display: flex;
		justify-content: center;
	}
	
	#names h1, #names h2 {
		white-space: nowrap;
		margin: 0;
	}
	
	#names h2 {
		padding-top: 1em;
	}

	#names * {
		margin: 0.5em;
	}
	
	#about_me {
		white-space: nowrap;
	}
}


/* Column Content Styles */

article {
	text-shadow: 1px 1px 10px rgb(128, 128, 128);
	position: static;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100vw;
}

article h4 {
	font-size: 0.7em;
	font-weight: normal;
	text-shadow: none;
	margin: 0;
	padding: 0;
}

article a {
	color: rgb(28, 8, 0);  /* Will need to be changed if links are added to other columns */
}

article section {
	font-size: 1.75rem;
	text-align: center;
	flex-flow: column;
	display: flex;
	min-height: 4em;
	width: 33.33vw;
}

article section h3{
	margin: 0.5em;
}

article section ul {
	text-shadow: 2px 2px 2px #999999;
	list-style-type: none;
	margin: 0.5em;
	padding: 0;
}

/* Each column needs its own color specified */
#column1 {
	color: rgb(0, 32, 48);
	background-color: rgb(73, 177, 198);
}

#column2 {
	color: rgb(0, 17, 0);
	background-color: rgb(208, 211, 143);
}

#column3 {
	color: rgb(28, 8, 0);
	background-color: rgb(246, 202, 131);
}

/* Arranges columns to a list if viewport too small */
@media (max-width: 800px) {
	article {
		flex-direction: column;
	}
	
	article section {
		width: 100vw;
		min-height: 6em;	
	}
	
	article section * {
		margin: 0.5em;
	}
}


/* Footer Styles */

footer {
	text-align: center;
	background-color: rgb(10, 10, 10);
	color: rgb(250, 250, 250);
	position: static;
	display: block;
	margin: 0;
	padding: 0.5em 0.5em;
}

footer blockquote {
	font-weight: bold;
}

footer hr {
	width: 60vw;
}

footer p {
	display: block;
	margin: 1em 5vw;
	line-height: 2rem;
}

@media (max-width: 800px) {
	footer {
		padding: 1em 1em 2em 1em;	
	}
}