/* 
 * CSS file used with academics webpage
 * AUTHOR: Matthew Higginbotham
 * DATE:   October 26, 2020
 *
 * https://htmlcolorcodes.com/color-picker/
 */
 
 /* Importing web fonts */
 
 @font-face {
	font-family: Oswald;
	src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
 }
 
 @font-face {
	 font-family: Oxygen;
	 src: url("https://fonts.googleapis.com/css2?family=Oxygen");
 }


/* Body Style */
body {
	background-image: url('sunset.png');
	font-family: Oxygen, Arial, sans-serif;
	background-color: rgb(220, 220, 200);
	margin: 0;
}


/* Nav Bar Styles */
nav {
	position: fixed;
	display: flex;
	
	background-color: rgb(40, 40, 40);
	box-shadow: 5px 5px 5px #101010;
	
	z-index: 1;
	justify-content: center;
	align-items: center;
	
	margin: 0;
	padding: 0;
	height: 3em;
	width: 100vw;
}

nav a {
	font-family: Oxygen;
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 40);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: 1s ease;	
}	

nav > a, nav > div > a {
	float: left;
	display: block;
	padding: 1em 0;
	width: 33.33vw;
}

nav a:hover{
	background-color: rgb(0, 0, 0);
	text-shadow: 2px 2px 15px rgb(255, 255, 255);
}

.dropdown_container a {
	float: left;
}

.dropdown_contents {
	box-shadow: 5px 5px 5px #101010;
	display: none;
	position: absolute;
	margin-top: 3em;
	width: 33.33vw;
}

.dropdown_contents a{
	padding: 1em 0em;
	width: 100%;
}

.dropdown_container:hover .dropdown_contents{
	display: block;
	transition: 1s ease;
}

/* Adjusts content once certain width is reached */
@media (max-width: 800px) {
	nav {
		position: absolute;
		height: 9em;
		flex-direction: column;
	}
  
	nav > a {
		padding: 0.9em 100vw;
	}
  
	nav > div > a {
		padding: 0.8em 100vw;
	}
  
  .dropdown_contents a {
	justify-content: center;
	position: static;
	width: 100vw;
  }
  
  .dropdown_container:hover .dropdown_contents{
	display: none;
  }
}
 
 
/* Header styles */

header {
	position: block;
	margin: 0px;
	min-width: 100%;
}

header #title {
	color: white;
	position: absolute;
	padding-left: 5%;
	padding-top: 45px;
}

header h1 {
	font-family: Oswald, Arial, sans-serif;
	font-size: 400%;
	font-weight: bold;
	text-shadow: 1px 1px rgb(128, 128, 128);
	letter-spacing: 0.15em;
	line-height: 1.3em;
}

header h2 {
	font-family: Oxygen, Arial, sans-serif;
	font-size: 130%;
	letter-spacing: 0.1em;
}
 
 
/* Section Styles */
#course_links {
	display: block;
	color: white;
	font-family: Oxygen, Arial, sans-serif;
	margin: 0;
	margin-left: 5%;
}
#course_links *
{
	margin: 0;
}

/* Footer Styles */