/* 
 * CSS file used with employment webpage
 * AUTHOR: Matthew Higginbotham
 * DATE:   October 26, 2020
 *
 * https://htmlcolorcodes.com/color-picker/
 */
 
 /* Importing web fonts */
 
 @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
 
 @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
 

 /* Body Styles relegated to HTML file so all image links are in one spot */
body {
	font-family: Oxygen, Arial, sans-serif;
	background-color: rgb(170, 170, 200);
	font-size: 16px;
	margin: 0;
}
 
/* Adjustment added to anchors for fixed nav bar */

article a {
	margin-top: -2em;
	padding-top: 2em;
}


 /* Nav Bar Styles */
 nav {
	background-color: rgb(40, 40, 40);
	box-shadow: 5px 5px 5px #101010;
	position: fixed;
	float: left;
	z-index: 1;
	
	border: 0;
	margin: 0;
	padding: 0em;
	height: 3em;
	width: 100%;
}

nav a {
	font-family: Oxygen;
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 40);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: 1s ease;	
}	

nav > a, nav > div > a {
	float: left;
	display: block;
	padding: 1em 0em;
	width: 33.33%;
}

nav a:hover{
	background-color: rgb(0, 0, 0);
	text-shadow: 2px 2px 15px rgb(255, 255, 255);
}

.dropdown_container a {
	float: left;
}

.dropdown_contents {
	box-shadow: 5px 5px 5px #101010;
	display: none;
	float: right;
	position: relative;
	width: 33.33%;
}

.dropdown_contents a{
	padding: 1em 0em;
	width: 100%;
}

.dropdown_container:hover .dropdown_contents{
	display: block;
}
 
 
/* Header styles */

header {
	position: static;
	padding-bottom: 3em;
	border: 5px;
	box-shadow: 0 0, 0 0, 5px 5px 10px #333333;
}

header #title {
	color: black;
	padding-left: 5vw;
	padding-top: 4em;
}

header h1 {
	font-family: Oswald, Arial, sans-serif;
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 1px 1px rgb(128, 128, 128);
	letter-spacing: 0.15em;
	line-height: 1.3em;
}

header p {
	font-family: Oxygen, Arial, sans-serif;
	font-size: 1.3rem;
	letter-spacing: 0.1em;
}
 
hr {
	margin: 4em 5vw; 
	width: 90vw;
}
 

/* Section Styles */

article {
	font-family: Oxygen;
	margin: 0 5vw;
	font-size: 2rem;
}

article h2 {
	text-shadow: 2px 2px 5px #333333;
}

article h3 {
	margin-bottom: 0;
}

article h4 {
	margin-top: 0;
	font-style: italic;
}

article p {
	font-size: 1.5rem;
}