/* 
 * CSS file used with employment webpage
 * AUTHOR: Matthew Higginbotham
 * DATE:   October 26, 2020
 */
 
/* Importing web fonts */
 
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
 

/* Body Styles 
 * Background file relegated to HTML file so all image links are in one spot */

body {
	font-family: Oxygen, Arial, sans-serif;
	font-size: 16px;
	background-color: rgb(170, 170, 200);
	margin: 0;
}
 

/* Adjustment added to anchors so internal links don't run into nav bar */

article a {
	margin-top: -2em;
	padding-top: 2em;
}


 /* Nav Bar Styles */
 nav {
	background-color: rgb(40, 40, 40);
	box-shadow: 5px 5px 5px #101010;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 100vw;
}

nav a {
	color: rgb(255, 255, 255);
	background-color: rgb(40, 40, 40);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: 1s ease;	
}	

nav > a, nav > div > a {
	display: block;
	float: left;

	padding: 1em 0;
	width: 33.33vw;
}

/* Changes appearance of links once hovered over */
nav a:hover{
	background-color: rgb(0, 0, 0);
	text-shadow: 2px 2px 15px rgb(255, 255, 255);
}

/* Equalixes size of dropdown nav bar elements */
.dropdown_container a {
	float: left;
}

/* Hides content until hovered */
.dropdown_contents {
	box-shadow: 5px 5px 5px #101010;
	position: absolute; /* prevents overlapping with nav-bar */
	display: none;
	margin-top: 3em;
	width: 33.33vw;
}

.dropdown_contents a{
	padding: 1em 0;
	width: 100%;
}

/* Actually displays the dropdown */
.dropdown_container:hover .dropdown_contents{
	display: block;
}

/* Adjusts content once a certain width is reached */
@media (max-width: 800px) {
	nav {
		flex-direction: column;
		position: absolute;
		height: 9em;
	}
  
	nav > a {
		padding: 0.9em 100vw;
	}
  
	nav > div > a {
		padding: 0.8em 100vw;
	}
  
  .dropdown_contents a {
	position: static;
	justify-content: center;
	width: 100vw;
  }
  
  .dropdown_container:hover .dropdown_contents{
	display: none;
  }
}
 
 
/* Header styles */

header {
	box-shadow: 0 0, 0 0, 5px 5px 10px #333333;
	position: static;
	border: 5px;
	padding-bottom: 3em;
}

header #title {
	color: black;
	padding-left: 5vw;
	padding-top: 4em;
}

header h1 {
	font-family: Oswald, Arial, sans-serif;
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 1px 1px rgb(128, 128, 128);
	letter-spacing: 0.15em;
	line-height: 1.3em;
}

header p {
	font-size: 1.3rem;
	letter-spacing: 0.1em;
}
 

/* Section Styles */

hr {
	margin: 4em 5vw; 
	width: 90vw;
}

article {
	margin: 0 5vw;
	font-size: 2rem;
}

article h2 {
	text-shadow: 2px 2px 5px #333333;
}

article h3 {
	margin-bottom: 0;
}

article h4 {
	margin-top: 0;
	font-style: italic;
}

article p {
	font-size: 1.5rem;
}